go 1.23.0

use (
	./lec01.01_two_pointer
	./lec01_permutation
	./lec02_greedy
	./lec03.01_adjacency_matrix
	./lec03.02_adjacency_list
	./lec03.03_dfs
	./lec03.04.01_bfs_friend
	./lec03.04_bfs
	./lec03.05_backtracking
	./lec04_binary_search
	./lec05_parametric_search
	./lec06_memoization
	./lec07_tabulation
	./lec08_cumulative_sum
)